<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSAppClip</key>
    <dict>
        <key>NSAppClipRequestEphemeralUserNotification</key>
        <false/>
        <key>NSAppClipRequestLocationConfirmation</key>
        <false/>
    </dict>
    <key>UILaunchScreen</key>
    <dict/>
    <key>NSCameraUsageDescription</key>
    <string>TOY needs camera access to record your video message</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>TOY needs microphone access to record audio with your video</string>
</dict>
</plist>
